* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width:  80%;
    height: 500px;
    border: 1px solid #333; 
 /* centralizando a div */
    margin: 0 auto;
    position: relative;
    overflow: hidden; /* para tudo que sair da tela do "bloco" não aparecer mais */
}

.pipe{
    /*
    todas imagens com position abosulute para que nenhuma interfira no comportamento da outra */
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite;
}
/* criando animação do tubo utilizando keyframes */
@keyframes pipe-animation{
    from{ 
        right: 0;
    }

    to{
    right: 100%;
    }
}